/*
Css navigation

*/

:root{
   --antonRegular : 'Anton', sans-serif; 
   --monserrat :  'Montserrat', 'sans';
   --taxtMain :  #111214;
   --buttonBackgraund : #FE390C;
   --colorOrange : #FE390C;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_hero{
    width: 100%;
    height: 840px;
    background-image: url('./imgage/Background.png');
    background-size: cover;
    background-position: center;
}

/*Start css style*/

/*Start navigation menu styles*/
header{

}

.hero{
    width: 100%;
}
nav{
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}
.nav{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: transparent;
   
}
.nav_logo{
    margin-top: 20px;
}
.nav_logo a{
    font-family: var(--antonRegular);
    text-decoration: none;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.logo_white{
    color: white;
}
.logo_grey{
    color: gray;
}
.logo_orange{
    color: #FE390C;
}
.nav_list{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}
.nav_list-item{
   list-style: none;
   /* white-space: nowrap; */
}
.nav_list-item:not(:last-child){
    margin-right: 54px;
}
.navlinks{
    font-family: var(--monserrat);
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.active{
    color: var(--colorOrange);
}

.nav_button{
    padding: 8px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:4px;
    border: 1px solid #FE390C;
    cursor: pointer;
}
.contact_botton{
    
    background: transparent;
    color: var(--colorOrange);
}
.burger_toggle{
    display: none;
    margin-top: 25px;
}
.burger_toggle i{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/*stciy navigation*/
.navhader{
    transition: all .2s ease-in-out;
    background-color: rgba(2, 2, 2, 0.664);
}




/* Responsive site  */
@media screen and (max-width:1200px){
    .nav_list-item:not(:last-child){
        margin-right: 44px;
    }
    .nav_list{
        margin-left: -100px;
    }
    .nav_button{
        margin-left: -200px;
    }
}
@media screen and (max-width:1100px){
    .nav_list-item:not(:last-child){
        margin-right: 44px;
    }
    .nav_list{
        margin-left: -200px;
    }
    .nav_button{
        margin-left: -200px;
    }
}@media screen and (max-width:850px){
    .nav_list{
       display: none;
    }
    .nav_button{
        
    }
    .burger_toggle{
        display: block;
    }
    
}
@media screen and (max-width:850px){
   
    .nav_button{
        margin-left: -10px;
    }
    .burger_toggle{
        display: block;
    }
    
}
